---
import type { GetStaticPaths } from "astro";
import Typography from "../../components/react/Typography";
import BlogLayout from "../../layouts/BlogLayout.astro";
import layout from "../../constants/style";
import avatarPhoto from "../../assets/Bobby.jpg";
import PostCard from "../../components/astro/PostCard.astro";

// those are all the possible paths
export const getStaticPaths = (() => {
    return [
        {
            params: { category: "Reference Docs" },
            props: { name: "Reference Docs" },
        },
        {
            params: { category: "General" },
            props: { name: "General" },
        },
        {
            params: { category: "CSS" },
            props: { name: "CSS" },
        },
        {
            params: { category: "Astro" },
            props: { name: "Astro" },
        },
    ];
}) satisfies GetStaticPaths;

const { category } = Astro.params;
const { name } = Astro.props;

const posts = await Astro.glob("../blog/*.md");

let sortedPosts = posts.sort((a, b) => {
    return b.frontmatter.date.localeCompare(a.frontmatter.date);
});

sortedPosts = sortedPosts.filter((post) => post.frontmatter.category === category);
---

<BlogLayout title={name}>
    <div class="bg-red-100 text-center py-2">
        <h2 class="text-orange-700 text-lg">This side of the moon is still dark!</h2>
        <p class="text-orange-500 text-sm underline">The blog page is under construction</p>
    </div>
    <section class=`${layout.section.dark}`>
        <div
            class=`${layout.maxWidth} flex flex-col md:flex-row justify-center items-center gap-4 md:gap-8`
        >
            <div
                class="w-2/3 sm:w-2/4 md:w-1/3 h-auto overflow-hidden rounded-full border-[4px] border-gray-400 dark:border-gray-200/40"
            >
                <img
                    src={avatarPhoto.src}
                    class="object-cover w-full h-full grayscale"
                    alt="Borislav"
                />
            </div>
            <div class="w-full text-center md:text-left md:w-1/2">
                <Typography variant="h2" className="!mb-0">Borislav Goumov</Typography>
                <Typography>Fullstack Javascript Developer</Typography>
                <Typography>
                    I am a fullstack javascript developer with a passion for web development. I love
                    to learn new things and I am always looking for new challenges.
                </Typography>
                <a
                    href="https://www.linkedin.com/in/borislav-godumov-7245b61a2/"
                    target="_blank"
                    class="flex items-center hover:gap-8 transition-all duration-300 gap-2 text-lg text-cyan-600 underline underline-offset-4"
                >
                    <p>
                        Connect with me on <span class="font-bold">LinkedIn</span>
                    </p>
                    <i class="fa-solid fa-arrow-right text-lg"></i>
                </a>
            </div>
        </div>
    </section>
    <div class=`${layout.section.light}`>
        <div class=`${layout.maxWidthSecondary}`>
            <ul class="grid responsive-grid">
                {
                    sortedPosts.map((post: any) => (
                        <PostCard frontmatter={post.frontmatter} url={post.url} />
                    ))
                }
            </ul>
        </div>
    </div>
</BlogLayout>
