---
import layout from "../../constants/style";
const { post } = Astro.props;
const { title, date, category } = post;
---

<li class=`${layout.section.dark}`>
    <a href=`${post.url}`>
        <h3 class=`${layout.heading}`>${title}</h3>
        <p class=`${layout.text}`>${date}</p>
        <p class=`${layout.text}`>${category}</p>
    </a>
</li>
