---
import layout, { style } from "../../constants/style";
---

<div
    id="nav-blog"
    class={`${layout.section.dark} sticky top-0 !p-0 z-30 bg-opacity-90 dark:bg-opacity-90 backdrop-filter backdrop-blur-sm dark:backdrop-blur-sm shadow-md`}
>
    <nav class={`${layout.maxWidth} flex items-center justify-between px-4 h-16`}>
        <div class="flex items-center gap-4">
            <a href="/">
                <h3 class={`${style.textPrimary} text-2xl font-semibold leading-[2]`}>
                    Lavacoder
                    <span class="ml-1 inline-block animate-bounce text-4xl text-cyan-500"> .</span>
                </h3>
            </a>
        </div>
        {/* Desktop devices */}
        <div class="hidden items-center gap-8 lg:flex">
            <div class="flex items-center gap-2">
                <ThemeSwitchButton
                    theme={theme}
                    switchTheme={switchTheme}
                    text={theme === "dark" ? t("nav.theme.dark") : t("nav.theme.light")}
                />
            </div>
            {/* <LanguageOptions borderless={true} lang={lang} endpoint="/blog" /> */}
        </div>
        <ul class={`${style.textSecondary}`}>
            <LinkWithIcon iconName="fa-home" type="anchor-link" path="/" text={t("nav.home")} />
        </ul>
    </nav>
    <div class="h-1 bg-cyan-600 rounded"></div>
</div>
